# Importing Data into Pandas

## Basic Data Importing Techniques

In [1]:
# conventional way to import pandas
import pandas as pd

### Read CSV

In [2]:
# read data from csv file 
diabetes = pd.read_csv("../data/diabetes.csv")

In [3]:
# type 
type(diabetes)

pandas.core.frame.DataFrame

In [4]:
# Examine first few rows 
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

### Read Excel Sheet

In [15]:
# read data from excel file 
lungcap = pd.read_excel("../data/LungCapData.xls")

In [16]:
type(lungcap)

pandas.core.frame.DataFrame

In [17]:
# examine first few rows 
lungcap.head()

   LungCap  Age  Height Smoke  Gender Caesarean
0    6.475    6    62.1    no    male        no
1   10.125   18    74.7   yes  female        no
2    9.550   16    69.7    no  female       yes
3   11.125   14    71.0    no    male        no
4    4.800    5    56.9    no    male        no

### From URL

In [8]:
# read a dataset of pulse rate directly from a URL and store the results in a DataFrame 
pulse = pd.read_table('http://media.news.health.ufl.edu/misc/bolt/Intro/SPSS/OriginalData/pulse.txt')

In [9]:
# examine the first 5 rows 
pulse.head()

,Height,Weight,Age,Gender,Smokes,Alcohol,Exercise,Ran,Pulse1,Pulse2,Year
0,173,57.0,18,2,2,1,2,2,86.0,88.0,93
1,179,58.0,19,2,2,1,2,1,82.0,150.0,93
2,167,62.0,18,2,2,1,1,1,96.0,176.0,93
3,195,84.0,18,1,2,1,1,2,71.0,73.0,93
4,173,64.0,18,2,2,1,3,2,90.0,88.0,93

### Modify Dataset

In [10]:
hepatitis = pd.read_csv('../data/hepatitis.data')

In [11]:
hepatitis.head()

,2,30,2.1,1,2.2,2.3,2.4,2.5,1.1,2.6,2.7,2.8,2.9,2.10,1.00,85,18,4.0,?,1.2
0,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
1,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
2,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1

In [18]:
# Colnames 
col_names = ["Class","AGE","SEX","STEROID","ANTIVIRALS","FATIGUE","MALAISE","ANOREXIA","LIVER BIG",
             "LIVER FIRM","SPLEEN PALPABLE","SPIDERS","ASCITES","VARICES","BILIRUBIN","ALK PHOSPHATE",
             "SGOT","ALBUMIN","PROTIME","HISTOLOGY"]



hepatitis = pd.read_csv('../data/hepatitis.data', names = col_names)

In [19]:
hepatitis.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1

### Read Biological Data(.txt)

In [24]:
# read text/csv data into pandas 
chrom = pd.read_csv("../data/Encode_HMM_data.txt" , delimiter= "\t", header=None)

In [25]:
# Examine first few rows 
chrom.head()

      0      1      2                  3  4  5      6      7            8
0  chr1  10000  10600  15_Repetitive/CNV  0  .  10000  10600  245,245,245
1  chr1  10600  11137  13_Heterochrom/lo  0  .  10600  11137  245,245,245
2  chr1  11137  11737        8_Insulator  0  .  11137  11737   10,190,254
3  chr1  11737  11937        11_Weak_Txn  0  .  11737  11937  153,255,102
4  chr1  11937  12137    7_Weak_Enhancer  0  .  11937  12137    255,252,4

In [26]:
# it's not much better to see. so we have to modify this dataset
cols_name = ['chrom', 'start', 'stop', 'type']
chrom = pd.read_csv("../data/Encode_HMM_data.txt", delimiter="\t", header=None, names = cols_name)

In [27]:
# now examine first few rows 
chrom.head()

                                     chrom  start   stop         type
chr1 10000 10600 15_Repetitive/CNV 0     .  10000  10600  245,245,245
     10600 11137 13_Heterochrom/lo 0     .  10600  11137  245,245,245
     11137 11737 8_Insulator       0     .  11137  11737   10,190,254
     11737 11937 11_Weak_Txn       0     .  11737  11937  153,255,102
     11937 12137 7_Weak_Enhancer   0     .  11937  12137    255,252,4

### Read Biological Data(.tsv)

In [28]:
pokemon = pd.read_csv("../data/pokemon.tsv", sep="\t")

In [29]:
pokemon.head()

,Number,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,...,Color,hasGender,Pr_Male,Egg_Group_1,Egg_Group_2,hasMegaEvolution,Height_m,Weight_kg,Catch_Rate,Body_Style
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,Green,True,0.875,Monster,Grass,False,0.71,6.9,45,quadruped
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,Green,True,0.875,Monster,Grass,False,0.99,13.0,45,quadruped
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,Green,True,0.875,Monster,Grass,True,2.01,100.0,45,quadruped
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,...,Red,True,0.875,Monster,Dragon,False,0.61,8.5,45,bipedal_tailed
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,...,Red,True,0.875,Monster,Dragon,False,1.09,19.0,45,bipedal_tailed

## Advance Data Importing Techniques

### Importing and Manipulating CSV Files with pd.read_csv()

In [30]:
import pandas as pd

In [31]:
df = pd.read_csv("../data/covid19.csv")
# examine first few rows 
df.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [32]:
# Set index 
df = pd.read_csv("../data/covid19.csv", index_col = "Country/Region")
df.head()

,SNo,ObservationDate,Province/State,Last Update,Confirmed,Deaths,Recovered
Country/Region,,,,,,,
Mainland China,1,01/22/2020,Anhui,1/22/2020 17:00,1.0,0.0,0.0
Mainland China,2,01/22/2020,Beijing,1/22/2020 17:00,14.0,0.0,0.0
Mainland China,3,01/22/2020,Chongqing,1/22/2020 17:00,6.0,0.0,0.0
Mainland China,4,01/22/2020,Fujian,1/22/2020 17:00,1.0,0.0,0.0
Mainland China,5,01/22/2020,Gansu,1/22/2020 17:00,0.0,0.0,0.0

In [33]:
# Skipping headers 
df = pd.read_csv("../data/covid19.csv", header=None)
df.head()

/home/jubayer/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,0,1,2,3,4,5,6,7
0,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
1,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
2,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
3,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
4,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [34]:
# Custom column names 
df = pd.read_csv("../data/covid19.csv", header = 0,
                 names= ["SL", "ObservationDate", "State", "Country", "Last Update", "Confirmed", "Deaths", "Recovered"])
df.head()

,SL,ObservationDate,State,Country,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [35]:
# Use only selected columuns 
df = pd.read_csv("../data/covid19.csv", usecols = ["Country/Region", "Confirmed", "Deaths", "Recovered"])
df.head()

   Country/Region  Confirmed  Deaths  Recovered
0  Mainland China        1.0     0.0        0.0
1  Mainland China       14.0     0.0        0.0
2  Mainland China        6.0     0.0        0.0
3  Mainland China        1.0     0.0        0.0
4  Mainland China        0.0     0.0        0.0

In [36]:
# Set index and use selected columns 
df = pd.read_csv("../data/covid19.csv", index_col="Country/Region",
                 usecols=["Country/Region", "Confirmed", "Deaths", "Recovered"])
df.head()

                Confirmed  Deaths  Recovered
Country/Region
Mainland China        1.0     0.0        0.0
Mainland China       14.0     0.0        0.0
Mainland China        6.0     0.0        0.0
Mainland China        1.0     0.0        0.0
Mainland China        0.0     0.0        0.0

In [37]:
# exploring columns 
df.columns

Index(['Confirmed', 'Deaths', 'Recovered'], dtype='object')

In [38]:
# Customize columns 
df.columns = ["Confirmed Cases", "Deaths Cases", "Recovered Cases"]

In [39]:
df.columns

Index(['Confirmed Cases', 'Deaths Cases', 'Recovered Cases'], dtype='object')

In [40]:
# Set index name 
df.index.name = "Country"

In [41]:
df.head()

                Confirmed Cases  Deaths Cases  Recovered Cases
Country
Mainland China              1.0           0.0              0.0
Mainland China             14.0           0.0              0.0
Mainland China              6.0           0.0              0.0
Mainland China              1.0           0.0              0.0
Mainland China              0.0           0.0              0.0

### Importing messy CSV Files

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("../data/titanic_raw.csv")

In [ ]:
titanic.head()

In [ ]:
col_names = ["Survived", "Class", "Gender", "Age", "SipSp", "ParCh", "Fare", "Emb", "Deck"]

In [ ]:
titanic = pd.read_csv("../data/titanic_raw.csv", header = None, names = col_names)
titanic.head()

In [ ]:
titanic = pd.read_csv("../data/titanic_raw.csv", skiprows= 3, header = None, names = col_names)
titanic.head()

In [ ]:
titanic.tail(2)

In [ ]:
titanic = pd.read_csv("../data/titanic_raw.csv", skiprows= 3, skipfooter = 2, header = None, names = col_names)
titanic.head()

In [ ]:
titanic.tail()

In [ ]:
titanic.to_csv("titanic_clean.csv", index=False)

In [ ]:
pd.read_csv("titanic_clean.csv")

### Importing and Manipulating Excel Files with pd.read_excel()

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("../data/LungCapData.xls")

In [ ]:
df.head()

In [ ]:
df = pd.read_excel("../data/LungCapData.xls", index_col = 0, header = 0, 
                   names=['LungCap', 'Age', 'Height', 'Smoke', 'Gender', 'Caesarean'])
df.head()

In [ ]:
df = pd.read_excel("../data/LungCapData.xls", index_col=0,  header = 0, usecols = "A:D")
df.head()

In [ ]:
df = pd.read_excel("../data/LungCapData.xls", index_col = 0, header = 0, usecols = "C:E")
df.head()

In [ ]:
df = pd.read_excel("../data/LungCapData.xls", index_col = 0, header = 0, usecols = "A, C:E")
df.head()

In [ ]:
df = pd.read_excel("../data/LungCapData.xls", index_col = 0, header = 0, usecols = ":C")
df.head()

In [ ]:
df = pd.read_excel("../data/LungCapData.xls", index_col = 0, header = 0, usecols = "C:")
df.head()

In [ ]:
df = pd.read_excel("../data/LungCapData.xls", index_col = 0, header = 0, usecols = [0,3,4])
df.head()

In [ ]:
df = pd.read_excel("../data/LungCapData.xls", index_col = 0, header = 0, usecols = 2)
df.head()

In [ ]:
df = pd.read_excel("../data/LungCapData.xls", index_col = 0, header = 0, usecols = ["Gender", "Smoke"])
df.head()

### Customizing and Handling Multiple Excel Sheets import with pd.read_excel()

In [ ]:
import pandas as pd

In [ ]:
pd.read_excel("../data/covid19_multiple_sheets.xls")

In [ ]:
pd.read_excel("../data/covid19_multiple_sheets.xls", sheet_name = 1)

In [ ]:
pd.read_excel("../data/covid19_multiple_sheets.xls", sheet_name = "day1", skiprows= [0,1])

In [ ]:
pd.read_excel("../data/covid19_multiple_sheets.xls", sheet_name = "day2", skiprows= 2, usecols= "A:C")

In [ ]:
df = pd.read_excel("../data/covid19_multiple_sheets.xls", sheet_name = "day1", skiprows= 2, usecols= "A:D")

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
# export file as csv 
df.to_csv("../data/covid19_multiple_sheets_export.csv", index= False)

In [ ]:
# export file as Excel 
df.to_excel("../data/covid19_multiple_sheets_export.xls")

In [ ]:
pd.read_csv("../data/covid19_multiple_sheets_export.csv")

### Importing Data from the Web  with pd.read_html()

In [ ]:
import pandas as pd

In [ ]:
url = "https://en.wikipedia.org/wiki/1976_Summer_Olympics_medal_table"

In [ ]:
df = pd.read_html(url)

In [ ]:
type(df)

In [ ]:
df = pd.read_html(url)[0]
df.head()

In [ ]:
wik_1976 = pd.read_html(url)[0]

In [ ]:
wik_1976.head()

In [ ]:
wik_1976.tail()

In [ ]:
url2 ="https://en.wikipedia.org/wiki/1996_Summer_Olympics_medal_table"

In [ ]:
pd.read_html(url2)[1]

In [ ]:
wik_1996 = pd.read_html(url2)[1]

In [ ]:
wik_1996.head()

In [ ]:
wik_1996.info()

In [ ]:
wik_1976.to_csv("wik_1976.csv", index= False)
wik_1996.to_csv("wik_1996.csv", index= False)