# Pandas Basics: An Introduction

## Reading Data

In [1]:
import pandas as pd

In [2]:
# reading data 
pd.read_excel("../data/LungCapData.xls")

     LungCap  Age  Height Smoke  Gender Caesarean
0      6.475    6    62.1    no    male        no
1     10.125   18    74.7   yes  female        no
2      9.550   16    69.7    no  female       yes
3     11.125   14    71.0    no    male        no
4      4.800    5    56.9    no    male        no
..       ...  ...     ...   ...     ...       ...
720    5.725    9    56.0    no  female        no
721    9.050   18    72.0   yes    male       yes
722    3.850   11    60.5   yes  female        no
723    9.825   15    64.9    no  female        no
724    7.100   10    67.7    no    male        no

[725 rows x 6 columns]

In [3]:
# store in a variable 
df = pd.read_excel("../data/LungCapData.xls")

In [4]:
# show entire dataframe 
df

     LungCap  Age  Height Smoke  Gender Caesarean
0      6.475    6    62.1    no    male        no
1     10.125   18    74.7   yes  female        no
2      9.550   16    69.7    no  female       yes
3     11.125   14    71.0    no    male        no
4      4.800    5    56.9    no    male        no
..       ...  ...     ...   ...     ...       ...
720    5.725    9    56.0    no  female        no
721    9.050   18    72.0   yes    male       yes
722    3.850   11    60.5   yes  female        no
723    9.825   15    64.9    no  female        no
724    7.100   10    67.7    no    male        no

[725 rows x 6 columns]

## Pandas Display Options and the methods `head()` & `tail()`

In [5]:
# show entire dataframe 
df

     LungCap  Age  Height Smoke  Gender Caesarean
0      6.475    6    62.1    no    male        no
1     10.125   18    74.7   yes  female        no
2      9.550   16    69.7    no  female       yes
3     11.125   14    71.0    no    male        no
4      4.800    5    56.9    no    male        no
..       ...  ...     ...   ...     ...       ...
720    5.725    9    56.0    no  female        no
721    9.050   18    72.0   yes    male       yes
722    3.850   11    60.5   yes  female        no
723    9.825   15    64.9    no  female        no
724    7.100   10    67.7    no    male        no

[725 rows x 6 columns]

In [6]:
# print dataframe 
print(df)

     LungCap  Age  Height Smoke  Gender Caesarean
0      6.475    6    62.1    no    male        no
1     10.125   18    74.7   yes  female        no
2      9.550   16    69.7    no  female       yes
3     11.125   14    71.0    no    male        no
4      4.800    5    56.9    no    male        no
..       ...  ...     ...   ...     ...       ...
720    5.725    9    56.0    no  female        no
721    9.050   18    72.0   yes    male       yes
722    3.850   11    60.5   yes  female        no
723    9.825   15    64.9    no  female        no
724    7.100   10    67.7    no    male        no

[725 rows x 6 columns]

In [7]:
# max rows 
pd.options.display.max_rows

60

In [8]:
# min rows 
pd.options.display.min_rows

10

In [9]:
# examine first few rows(default 5 rows)
df.head()

   LungCap  Age  Height Smoke  Gender Caesarean
0    6.475    6    62.1    no    male        no
1   10.125   18    74.7   yes  female        no
2    9.550   16    69.7    no  female       yes
3   11.125   14    71.0    no    male        no
4    4.800    5    56.9    no    male        no

In [10]:
# examine first few rows(n = 10)
df.head(10)

   LungCap  Age  Height Smoke  Gender Caesarean
0    6.475    6    62.1    no    male        no
1   10.125   18    74.7   yes  female        no
2    9.550   16    69.7    no  female       yes
3   11.125   14    71.0    no    male        no
4    4.800    5    56.9    no    male        no
5    6.225   11    58.7    no  female        no
6    4.950    8    63.3    no    male       yes
7    7.325   11    70.4    no    male        no
8    8.875   15    70.5    no    male        no
9    6.800   11    59.2    no    male        no

In [11]:
# examine first few rows(n = 10)
df.head(n = 2)

   LungCap  Age  Height Smoke  Gender Caesarean
0    6.475    6    62.1    no    male        no
1   10.125   18    74.7   yes  female        no

In [12]:
# examine last few rows(default = 5)
df.tail()

     LungCap  Age  Height Smoke  Gender Caesarean
720    5.725    9    56.0    no  female        no
721    9.050   18    72.0   yes    male       yes
722    3.850   11    60.5   yes  female        no
723    9.825   15    64.9    no  female        no
724    7.100   10    67.7    no    male        no

In [13]:
# examine first few rows(n = 10)
df.tail(10)

     LungCap  Age  Height Smoke  Gender Caesarean
715    8.725   19    68.4    no  female        no
716    7.075   11    66.7    no    male       yes
717    8.825   16    71.3   yes  female        no
718    7.175   17    68.8    no    male       yes
719    7.325    9    66.3    no    male        no
720    5.725    9    56.0    no  female        no
721    9.050   18    72.0   yes    male       yes
722    3.850   11    60.5   yes  female        no
723    9.825   15    64.9    no  female        no
724    7.100   10    67.7    no    male        no

In [14]:
# examine first few rows(n = 10)
df.tail(n = 10)

     LungCap  Age  Height Smoke  Gender Caesarean
715    8.725   19    68.4    no  female        no
716    7.075   11    66.7    no    male       yes
717    8.825   16    71.3   yes  female        no
718    7.175   17    68.8    no    male       yes
719    7.325    9    66.3    no    male        no
720    5.725    9    56.0    no  female        no
721    9.050   18    72.0   yes    male       yes
722    3.850   11    60.5   yes  female        no
723    9.825   15    64.9    no  female        no
724    7.100   10    67.7    no    male        no

### Sampling

In [18]:
# randomly shows 10 rows 
df.sample(10)

     LungCap  Age  Height Smoke  Gender Caesarean
628    8.350   19    66.3    no  female        no
706    9.175   15    71.1    no    male        no
462    7.125   10    60.2    no    male        no
263    5.175   12    56.6    no  female       yes
606    9.875   16    66.3    no  female        no
638    5.025   10    64.4    no  female        no
51    12.425   15    74.1    no    male        no
183    9.925   16    75.4    no    male        no
60     6.700   12    57.9    no  female        no
575   13.050   16    73.0    no    male        no

### First Data Inspection

In [19]:
# examine dataframe 
df

     LungCap  Age  Height Smoke  Gender Caesarean
0      6.475    6    62.1    no    male        no
1     10.125   18    74.7   yes  female        no
2      9.550   16    69.7    no  female       yes
3     11.125   14    71.0    no    male        no
4      4.800    5    56.9    no    male        no
..       ...  ...     ...   ...     ...       ...
720    5.725    9    56.0    no  female        no
721    9.050   18    72.0   yes    male       yes
722    3.850   11    60.5   yes  female        no
723    9.825   15    64.9    no  female        no
724    7.100   10    67.7    no    male        no

[725 rows x 6 columns]

In [20]:
# information about dataframe 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725 entries, 0 to 724
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LungCap    725 non-null    float64
 1   Age        725 non-null    int64
 2   Height     725 non-null    float64
 3   Smoke      725 non-null    object
 4   Gender     725 non-null    object
 5   Caesarean  725 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 34.1+ KB

In [21]:
# summary statistics of entire dataset 
df.describe()

          LungCap         Age      Height
count  725.000000  725.000000  725.000000
mean     7.863148   12.326897   64.836276
std      2.662008    4.004750    7.202144
min      0.507000    3.000000   45.300000
25%      6.150000    9.000000   59.900000
50%      8.000000   13.000000   65.400000
75%      9.800000   15.000000   70.300000
max     14.675000   19.000000   81.800000

In [22]:
# include categorical data 
df.describe(include = "object")

       Smoke Gender Caesarean
count    725    725       725
unique     2      2         2
top       no   male        no
freq     648    367       561

## Python Built-in Functions & DataFrame Attributes and Methods

### DataFrames and Python Built-in Functions

In [ ]:
type(df)

In [ ]:
len(df)

In [ ]:
round(df, 0)

In [ ]:
min(df)

In [ ]:
max(df)

## DataFrame Attributes

In [ ]:
df.shape

In [ ]:
df.size

In [ ]:
df.index

In [ ]:
df.columns

## DataFrame Methods

In [ ]:
df.head(n = 2)

In [ ]:
df.info()

In [ ]:
df.min()

## Method Chaining

In [ ]:
# chaining method 
df.mean().sort_values().head(2)

## Selecting Columns

In [ ]:
df.head()

In [ ]:
df["Age"]

In [ ]:
type(df["Age"])

In [ ]:
# select multiple columns 
df[["Age", "Gender"]]

In [ ]:
# type 
type(df[["Age", "Gender"]])

In [ ]:
df[["Gender", "Age"]]

In [ ]:
df[["Gender", "Age", "LungCap"]]

In [ ]:
type(df[["Age"]])

## Selecting one Column with "dot notation"

In [ ]:
df.Age

In [ ]:
df['Age']

In [ ]:
df.Age.equals(df["Age"])

In [ ]:
df.Gender

### Position-based Indexing and Slicing with iloc[]

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("../data/covid19.csv", index_col = "Country/Region")

In [ ]:
df

In [ ]:
df.info()

### Selecting Rows with iloc[]

In [ ]:
df.iloc[0]

In [ ]:
type(df.iloc[0])

In [ ]:
df.iloc[1]

In [ ]:
df.iloc[-1]

In [ ]:
df.iloc[[1, 2, 3]]

In [ ]:
df.iloc[1:4]

In [ ]:
df.iloc[:5]

In [ ]:
df.iloc[-5:]

In [ ]:
df.iloc[:]

In [ ]:
df.iloc[[2, 45, 5467]]

### Indexing/Slicing Rows and Columns with iloc[]

In [ ]:
df.head(10)

In [ ]:
df.iloc[0, 4]

In [ ]:
df.iloc[0, :3]

In [ ]:
df.iloc[0, [0, 2]]

In [ ]:
df.iloc[34:39, [0, 2, 5]]

### Selecting Columns with iloc[]

In [ ]:
df.iloc[:, 4].equals(df.Confirmed)

In [ ]:
df["Province/State"]

### Label-based Indexing and Slicing with loc[]

### Selecting Rows with loc[]

In [ ]:
df.columns

In [ ]:
df.loc["Mainland China"]

In [ ]:
len(df.loc['Mainland China'])

### Indexing/Slicing Rows and Columns with loc[]

In [ ]:
df = pd.read_csv('../data/covid19.csv', index_col="Country/Region")
df.head()

In [ ]:
df.loc["Mainland China", ["Confirmed", "Deaths"]].head()

In [ ]:
df.loc[["Mainland China", "Bangladesh"], ["Deaths", "Recovered"]].head()

In [ ]:
df.loc[:, ["Confirmed", "Deaths"]].head()

### Indexing and Slicing with reindex()

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("../data/covid19.csv")

In [ ]:
df

In [ ]:
#summer.loc[[0, 5, 30000, 40000], ["Athlete", "Medal"]]

In [ ]:
df.reindex(index = [0, 5, 30000, 40000], columns =  ["Confirmed", "Deaths", "Recovered"])

In [ ]:
df = pd.read_csv("../data/covid19.csv", index_col = "Country/Region")

In [ ]:
df.reindex(columns = ["Confirmed", "Deaths"])

## Summary and Outlook

### Importing from CSV and first Inspection

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("../data/covid19.csv", index_col = "Country/Region")
df.head()

In [ ]:
df.info()

### Selecting one Column

In [ ]:
df.Confirmed

In [ ]:
df["Deaths"]

### Selecting multiple Columns

In [ ]:
df[["Confirmed", "Deaths"]].head()

In [ ]:
df.loc[:, ["Confirmed", "Deaths"]].head()

### Selecting positional rows

In [ ]:
df.iloc[10:21]

### Selecting labeled rows

In [ ]:
df.loc["Mainland China"]

### Putting it all together

In [ ]:
df[["Confirmed", "Deaths", "Recovered"]].loc["Mainland China"]

In [ ]:
df[["Deaths", "Recovered"]].loc["Bangladesh"]

In [ ]:
df[["Confirmed", "Deaths", "Recovered"]].loc[["Mainland China", "Bangladesh"]]

### Outlook Pandas Objects

In [ ]:
df

In [ ]:
type(df)

In [ ]:
df["Last Update"]

In [ ]:
type(df["Last Update"])

In [ ]:
df.columns

In [ ]:
type(df.columns)

In [ ]:
df.index

In [ ]:
type(df.index)

## Advanced Indexing and Slicing (optional)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("../data/covid19.csv")

In [ ]:
df.head()

### Case 1: Getting the first 5 rows and rows 354 and 765

In [ ]:
rows = list(range(5)) + [354, 765]
rows

In [ ]:
df.iloc[rows]

### Case 2: Getting the first three columns and the columns "Confirmed" and "Deaths"

In [ ]:
df.columns[:3].to_list() + ["Confirmed", "Deaths"]

In [ ]:
col = df.columns[:3].to_list() + ["Confirmed", "Deaths"]
col

In [ ]:
df.loc[:, col]

### Case 3: Combining Position- and label-based Indexing: Rows at Positions 200 and 300 and columns "Confirmed" and "Deaths"

In [ ]:
df

In [ ]:
df.loc[[200, 300], ["Confirmed", "Deaths"]]