In [1]:
A = {2, 3, 5, 7}

In [2]:
A

{2, 3, 5, 7}

In [ ]:
A | B

In [ ]:
A - B

In [ ]:
A & B

In [3]:
type(A)

set

In [4]:
A[0]

TypeError: 'set' object is not subscriptable

In [5]:
A[1]

TypeError: 'set' object is not subscriptable

In [6]:
L = ["apple", "orange"]

In [7]:
L

['apple', 'orange']

In [8]:
L[0]

'apple'

In [9]:
for i in L: 
    print(i)

apple
orange

In [11]:
for ind, elem in enumerate(L): 
    print(ind, elem)

0 apple
1 orange

In [12]:
country = "Bangladesh"

In [13]:
type(country)

str

In [14]:
for ind, elem in enumerate(country): 
    print(ind, elem)

0 B
1 a
2 n
3 g
4 l
5 a
6 d
7 e
8 s
9 h

In [15]:
A = {1, 2, 4, 6}
B = {8, 10, 11, 21}

In [16]:
A

{1, 2, 4, 6}

In [17]:
B

{8, 10, 11, 21}

In [18]:
A | B

{1, 2, 4, 6, 8, 10, 11, 21}

In [19]:
A & B

set()

In [20]:
A - B

{1, 2, 4, 6}

In [21]:
A ^ B

{1, 2, 4, 6, 8, 10, 11, 21}