# Python for Health Data Science

*Course  & Materials Designed by [Jubayer Hossain](https://jhossain.me/) | Copyright &copy; 2022 [Center for Health Innovation, Research, Action and Learning - Bangladesh (CHIRAL Bangladesh)](https://chiralbd.org/). All rights reserved*

<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.



All instructional materials is made available under the Creative Commons Attribution license. The following is a human-readable summary of (and not a substitute for) the full legal text of the [CC BY 4.0 license](https://creativecommons.org/licenses/by/4.0/).

You are free:

- to Share—copy and redistribute the material in any medium or format
- to Adapt—remix, transform, and build upon the material for any purpose, even commercially.

The licensor cannot revoke these freedoms as long as you follow the license terms.

Under the following terms:

Attribution—You must give appropriate credit (mentioning that your work is derived from work that is Copyright © [CHIRAL Bangladesh](http://chiralbd.org/) and, where practical, linking to http://chiralbd.org/), provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.

No additional restrictions—You may not apply legal terms or technological measures that legally restrict others from doing anything the license permits. With the understanding that:

Notices:

You do not have to comply with the license for elements of the material in the public domain or where your use is permitted by an applicable exception or limitation.
No warranties are given. The license may not give you all of the permissions necessary for your intended use. For example, other rights such as publicity, privacy, or moral rights may limit how you use the material.

# Agenda 
- Part 1: Python Data Structure - String 
- Part 2: Python Data Structure - List 
- Part 3: Python Data Structure - Tuple 
- Part 4: Python Data Structure - Dictionary 
- Part 5: Python Functions

## String Operators

### The `+` Operator
The + operator concatenates strings. It returns a string consisting of the operands joined together.

In [1]:
s1 = "Ub" 
s2 = "er"
s1+s2

'Uber'

In [3]:
s3 = "Fizz"
s4 = "Buzz"
s3+s4

'FizzBuzz'

### The `*` Operator
The * operator creates multiple copies of a string. If `s` is a string and `n` is an integer, either of the following expressions returns a string consisting of `n` concatenated copies of `s`
* $s \times n$
* $n \times s$

In [4]:
s = "Fizz"
n = 3 
# n * s 
s * n

'FizzFizzFizz'

In [5]:
# s * n 
n * s

'FizzFizzFizz'

__Note__

The multiplier operand n must be an integer. You’d think it would be required to be a positive integer, but amusingly, it can be zero or negative, in which case the result is an empty string.

In [6]:
"foo" * -8

''

In [7]:
"foo" * .5

TypeError: can't multiply sequence by non-int of type 'float'

### The `in` Operator
Python also provides a membership operator that can be used with strings. The in operator returns True if the first operand is contained within the second, and False otherwise

In [8]:
text = "I love Bangladesh!"
# membership check 
"love" in text

True

In [9]:
# Dhaka in text? 
"Dhaka" in text

False

In [10]:
# Dhaka not in text? 
"Dhaka" not in text

True

## Built-in String Function

### `ord(c)`
Returns an integer of the given character.

In [11]:
# ASCII value of a 
ord('a')

97

In [12]:
# ASCII value of A 
ord('A')

65

In [13]:
# ASCII value of # 
ord("#")

35

### `chr(i)`  
Converts an integer to character

In [15]:
# Convert integer to character 97 == a 
chr(97)

'a'

In [16]:
# Convert integer to character 65 == A 
chr(65)

'A'

### `len(s)` 
Returns the length of a string

In [17]:
# length of a string 
S = "Amar Sonar Bangla!"
len(S)

18

### `str(param)`
Returns a string representation of a string

In [18]:
# 10 into '10'
str(10)

'10'

In [19]:
# 10.5 into '10.5'
str(10.5)

'10.5'

## String Indexing
In Python, strings are ordered sequences of character data, and thus can be indexed in this way. Individual characters in a string can be accessed by specifying the string name followed by a number in square brackets ([]).
String indexing in Python is zero-based: the first character in the string has index 0, the next has index 1, and so on. The index of the last character will be the length of the string minus one.

![img](../img/String-Indexing.png)

In [23]:
# forward indexing
country = "Bangladesh"

In [28]:
# check length
len(country)

10

In [21]:
country[0]

'B'

In [22]:
country[1]

'a'

In [24]:
country[2]

'n'

In [25]:
country[3]

'g'

In [26]:
country[4]

'l'

In [27]:
country[5]

'a'

In [29]:
country[6]

'd'

In [30]:
country[7]

'e'

In [31]:
country[8]

's'

In [32]:
country[9]

'h'

In [33]:
country[10]

IndexError: string index out of range

In [34]:
# reverse indexing
country = "Bangladesh"

In [35]:
country[-1]

'h'

In [36]:
country[-2]

's'

In [37]:
country[-3]

'e'

In [38]:
country[-4]

'd'

In [39]:
country[-5]

'a'

In [40]:
country[-6]

'l'

In [41]:
country[-7]

'g'

In [42]:
country[-8]

'n'

In [43]:
country[-9]

'a'

In [44]:
country[-10]

'B'

## String Slicing
![img](../img/Python-String-Slicing-Illustration.png)

In [45]:
# slicing
country = "Bangladesh"

In [46]:
country[0:2] # 0 included but 2 excluded

'Ba'

In [47]:
country[3:5]

'gl'

In [48]:
country[2:len(country)]

'ngladesh'

In [49]:
country[-1:-3]

''

## String Operation Function

### `s.lower()`
Returns all characters in lowercase.

In [50]:
name = "Rahim"
name.lower()

'rahim'

### `s.upper()`
Returns all characters in uppercase

In [51]:
text = "fizzbuzz"
text.upper()

'FIZZBUZZ'

### `s.capitalize()`
Converts first letter into uppercase

In [74]:
text = "fizzbuzz"
text.capitalize()

'Fizzbuzz'

### `s.title()`
Convert first letter lowercase to uppercase in a sentence

In [52]:
text2 = "i love bangladesh!"
text2.title()

'I Love Bangladesh!'

### `s.split(t)`
Converts a sentence into List

In [58]:
# Split a sentence into list 
sent = "Dhaka is the capital of Bangladesh!"
sent.split(" ")

['Dhaka', 'is', 'the', 'capital', 'of', 'Bangladesh!']

### `s.strip()`
Removes whitespace from text(both side)

In [65]:
text4 = "     FooBazar"
text4.strip()

'FooBazar'

### `s.rstrip()`
Removes whitespace from right end.

In [66]:
text5 = "  FooBazar        "
text5.rstrip()

'  FooBazar'

### `s.lstrip()`
Removes whitespace from left end

In [68]:
text6 = "  FooBazar        "
text6.lstrip()

'FooBazar        '

## `s.find(t)`
Returns substring position.if the string not found return `-1`

In [69]:
text7 = "Datastics Lab"
text7.find("s")

4

In [70]:
text7 = "Datastics Lab"
text7.find("Lab")

10

In [71]:
text7 = "Datastics Lab"
text7.find("foo")

-1

## `s.count(t)`
Returns the number of character in a sentence or word

In [73]:
country = "Japan"
country.count("a")

2

### `s.replace(u, v)`
Replace value in a sequence of character(string)

In [72]:
text8 = "Datastics lab"
text8.replace("l", "L")

'Datastics Lab'

## Word Comparison Functions

### `s.startswith(t)`

In [75]:
text9 = "Lab for Making Insights from Data!"
text9.startswith("Lab")

True

In [76]:
text9 = "Lab for Making Insights from Data!"
text9.startswith("lab")

False

### s.endswith(t)

In [77]:
text10 = "Lab for Making Insights from Data!"
text10.endswith("!")

True

In [78]:
text10 = "Lab for Making Insights from Data!"
text10.endswith("?")

False

### `s.isupper()`

In [79]:
text11 = "Lab for Making Insights from Data!"
text11.isupper()

False

### s.islower()

In [80]:
text12 = "Lab for Making Insights from Data!"
text12.islower()

False

### s.istitle()

In [81]:
text13 = "Lab for Making Insights from Data!"
text13.istitle()

False

### `s.isalpha()`

In [82]:
text14 = "Lab for Making Insights from Data!"
text14.isalpha()

False

### `s.isdigit()`

In [83]:
text15 = "Lab for Making Insights from Data!"
text15.isdigit()

False

### `s.isalnum()`

In [84]:
text16 = "Lab for Making Insights from Data!"
text16.isalnum()

False

## String Iteration

In [85]:
S = "Bangladesh!"
for i in S: 
    print(i)

B
a
n
g
l
a
d
e
s
h
!

In [1]:
S = "Bangladesh!"
for index, val in enumerate(S): 
    print(index, val)

0 B
1 a
2 n
3 g
4 l
5 a
6 d
7 e
8 s
9 h
10 !

<a href="#Introduction-to-Python-for-Health-Data-Analytics">Back to Top</a>

# Part 2: Python Data Structure - List

# What is List
In short, a list is a **collection** of arbitrary objects, somewhat akin to an array in many other programming languages but more flexible. Lists are defined in Python by enclosing a comma-separated sequence of objects in square brackets ([])

## Characteristics of List
- Lists are ordered.
- Lists can contain any arbitrary objects.
- List elements can be accessed by index.
- Lists can be nested to arbitrary depth.
- Lists are mutable.
- Lists are dynamic.

In [1]:
# Create a list: string 
fruits = ["apple", "orange", "banana"]

In [10]:
# len() 
len(fruits)

3

In [11]:
# print
print(fruits)

['apple', 'orange', 'banana']

In [12]:
# forward indexing 
fruits[0]

'apple'

In [13]:
# reverse indexing 
fruits[-1]

'banana'

In [15]:
# add element 
fruits[2] = "add"

In [16]:
fruits

['apple', 'orange', 'add']

In [2]:
# Create a list: integer
integers = [2, 1, 5, 6, 7, 8]

In [17]:
# slicing 
integers[0:2]

[2, 1]

In [18]:
integers[:]

[2, 1, 5, 6, 7, 8]

In [19]:
integers[:2]

[2, 1]

In [21]:
integers[-2:-1]

[7]

In [3]:
# Create a list: float
floats = [3.2, 1.2, 5.4, 12.5]

In [5]:
# Create a list: complex 
comp = [3+2j, 4- 2j, 2+4j]

In [4]:
# Create a list: boolean
booleans = [True, False, True, False, True, True]

In [6]:
# Create a mixed list 
mixed = ["apple", 3, 4.5, 3+2j, True]

In [9]:
# Create a list using range() 
odd = list(range(1, 20, 2))
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [22]:
li = [33, 12, 45, 6, 78, 45]

In [23]:
# len()
len(li)

6

In [24]:
# max() 
max(li)

78

In [25]:
# min()
min(li)

6

In [26]:
# Create a list: string 
fruits = ["apple", "orange", "banana"]

In [27]:
for i in fruits: 
    print(i)

apple
orange
banana

In [29]:
for index, elem in enumerate(fruits): 
    print(index, elem)

0 apple
1 orange
2 banana

In [30]:
"apple" in fruits

True

In [32]:
5 not in fruits

True

In [33]:
li = [33, 12, 45, 6, 78, 45]

In [38]:
li.sort()

In [39]:
li

[6, 12, 33, 45, 45, 78]

In [40]:
li.append(100)

In [41]:
li

[6, 12, 33, 45, 45, 78, 100]

In [42]:
li.insert(2, 20)

In [43]:
li

[6, 12, 20, 33, 45, 45, 78, 100]

In [44]:
li.remove(20)

In [45]:
li

[6, 12, 33, 45, 45, 78, 100]

In [46]:
li.pop()

100

In [47]:
li

[6, 12, 33, 45, 45, 78]

In [48]:
li.count(12)

1

In [49]:
li

[6, 12, 33, 45, 45, 78]

In [50]:
li.reverse()

In [51]:
li

[78, 45, 45, 33, 12, 6]

<a href="#Introduction-to-Python-for-Health-Data-Analytics">Back to Top</a>

# Part 3: Python Data Structure - Dictionary

In [1]:
d = {}

In [8]:
d1 = dict()

In [9]:
type(d1)

dict

In [2]:
type(d)

dict

In [3]:
person = {"name": "John", "age": 30}

In [4]:
person

{'name': 'John', 'age': 30}

In [5]:
person['name']

'John'

In [6]:
person['age']

30

In [7]:
person['John']

KeyError: 'John'

In [10]:
d2 = {1: "one", 2: "two"}

In [11]:
d2

{1: 'one', 2: 'two'}

In [12]:
d2[1]

'one'

In [13]:
person = {"name": "John", "age": 30}

In [14]:
person.keys()

dict_keys(['name', 'age'])

In [15]:
person.values()

dict_values(['John', 30])

In [16]:
person.items()

dict_items([('name', 'John'), ('age', 30)])

In [17]:
for key in person.keys(): 
    print(key)

name
age

In [18]:
for val in person.values(): 
    print(val)

John
30

In [19]:
for key, val in person.items(): 
    print(key, val)

name John
age 30

In [ ]:
seq = "ATTTCCGGGCTTTTAA"
A = ?
T = ? 
G = ? 
C = ?

In [20]:
import collections 
from

<a href="#Introduction-to-Python-for-Health-Data-Analytics">Back to Top</a>

# Part: 4Python Data Structure - Tuple

In [1]:
tup = tuple()

In [2]:
type(tup)

tuple

In [14]:
t = (2, 2, 2,2, 2,3, 4, 5,6)

In [6]:
type(t)

tuple

In [7]:
t[0]

2

In [8]:
t[-1]

6

In [9]:
for item in t: 
    print(item)

2
3
4
5
6

In [10]:
for ind, item in enumerate(t): 
    print(ind, item)

0 2
1 3
2 4
3 5
4 6

In [15]:
t.count(2)

5

In [16]:
t.index(2)

0

In [17]:
2 in t

True

In [18]:
3 in t

True

In [19]:
100 in t

False

<a href="#Introduction-to-Python-for-Health-Data-Analytics">Back to Top</a>

## Part 5: Python  Functions

- Python Function
- Function Arguments / Parameters

In [ ]:
# Built-in functions 
print("Hello World!")
list(range(10)) 
int(10.3) 
float(3) 
str(3)

In [ ]:
a = int(input()) 
b = int(input()) 
result = a + b 
print(result)

In [ ]:
a = int(input()) 
b = int(input()) 
result = a * b 
print(result)

## User Defined Function Template 
```python
def func_name(param1, param2, param3....N): 
    result = param1+param2....N
    return result
# Function Call 
func_name(param_value1, param_value2....N) 
```

## Steps of Creating Function

In [ ]:
# Step-1: Define function with name and argument 
def add(num1, num2):
    pass

In [ ]:
# Step-2: Write your statement 
def add(num1, num2):
    result = num1 + num2

In [ ]:
# Step-3: Return your output 
def add(num1, num2):
    result = num1 + num2 
    return result

In [ ]:
# Step-4: Call your function 
add(3, 5) # num1 = 3, num2 = 4 , num1 + num2 , result

In [ ]:
# Call your function one more time or whatever you want 
add(10, 12)

### Documented Your Function
```python
def func_name(param1, param2, param3....N): 
    """Docstring: Documentation for your function"""
    result = param1+param2....N
    return result
# Function Call 
func_name(param_value1, param_value2....N) 
```

In [ ]:
# Write a function to add two integers or floats 
def add(num1, num2): 
    """Take two inputs as integer or float and return their sum."""
    result = num1 + num2 
    return result
# Call Function
add(3, 4)

In [ ]:
# Check your function documentation
help(add)

In [ ]:
# Write a function say_hi
def say_hi(name): 
    """Take input name as string. Returns output.""" 
    return f"Hello! {name}"

In [ ]:
# Call 
print(say_hi("Sammo"))

In [ ]:
# Check your function documentation
help(say_hi)

In [ ]:
def say_hi(name): 
    """Take input name as string. Returns ouput.""" 
    print("Inside Function.")
    return f"Hello! {name}"
print("Outside of Function")

### Required Argument / Parameter

In [ ]:
def add(a, b, c): 
    """Take three inputs as integer and returns their sum.""" 
    total = a+b+c 
    return total

In [ ]:
add(3, 4)

### Keyword argument

In [ ]:
def add(a, b, c): 
    """Take three inputs as integer and returns their sum.""" 
    total = a+b+c 
    return total

In [ ]:
# Function call 
add(a = 12, b = 12, c = 20)

### Default argument

In [ ]:
def add(a, b, c=10): 
    """Take three inputs as integer and returns their sum.""" 
    total = a+b+c 
    return total

In [ ]:
add(12, 10)

In [ ]:
add(12, 10, 12)

In [ ]:
def add_num(num1, num2): 
    total = num1 + num2
    return total

In [ ]:
def mul_num(num1, num2): 
    mul = num1 * num2
    return mul

In [ ]:
def div_num(num1, num2): 
    div = num1 / num2
    return div

In [ ]:
add_num(33, 34)

In [ ]:
mul_num(10, 2)

In [ ]:
div_num(10, 2)

<a href="#Introduction-to-Python-for-Health-Data-Analytics">Back to Top</a>

## Read More 
- https://www.python.org/doc/essays/blurb/
- https://dev.to/duomly/10-reasons-why-learning-python-is-still-a-great-idea-5abh
- https://www.stat.washington.edu/~hoytak/blog/whypython.html
- https://www.programiz.com/python-programming

## Problem Solving 
- Variable: https://www.sanfoundry.com/python-questions-answers-variable-names/
- Operators: https://www.sanfoundry.com/python-mcqs-basic-operators/
- Numeric Data Types: https://www.sanfoundry.com/python-questions-answers-numeric-types/## Resources 
- https://www.python.org/doc/essays/blurb/
- https://dev.to/duomly/10-reasons-why-learning-python-is-still-a-great-idea-5abh
- https://www.stat.washington.edu/~hoytak/blog/whypython.html
- https://www.programiz.com/python-programming

*Course  & Materials Designed by [Jubayer Hossain](https://jhossain.me/) | Copyright &copy; 2022 [Center for Health Innovation, Research, Action and Learning - Bangladesh (CHIRAL Bangladesh)](https://chiralbd.org/). All rights reserved*

<a href="#Introduction-to-Python-for-Health-Data-Analytics">Back to Top</a>